html, body {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    background-color: #f3f7f2; 
}

.flash-messages .alert {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}