
ul {
    display: flex;
    justify-content: space-between; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #007451; */
}

.navbar {
    /* display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; */
    background-color: #333; /* Default color */
}

.navbar-patient {
    background-color: #007451; /* Green for patient */
}

.navbar-doctor {
    background-color: #052093; /* Blue for doctor */
}

.navbar-admin {
    background-color: #910101; /* Red for admin */
}


.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center; 
}

.nav-right{
  padding-right: 2%;
}

.nav-center {
    flex-grow: 1; 
    justify-content: center; /* Centers items in the middle */
}

li a,h4, li form {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
}


/* li form input[type="text"], li form input[type="submit"] {
    padding: 0;
    background: #fff;
    border: 1px solid #ccc;
    color: black;
    border-radius: 20px;
}

li form input[type="text"] {
  padding: 0px 0px 0px 20px; 
    width: 400px;
}

li form input[type="submit"] {
    padding: 0px 10px;
} */

li a:hover {
    background-color: #FFF;
    border-radius:20px;
    color: black;
    text-decoration: none;
}

.active-link {
border-bottom: 2px solid white; 
}

.active {
/* background-color: #4CAF50; */
border-bottom: 2px solid white;
}
