<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
   
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% block styles %}{% endblock %}

</head>
<body>
    <nav>
        <ul>
            <div class="nav-left">
                <li><h4>SkinGuardan</h4></li>
                <li class="{{ 'active' if request.endpoint == 'home' else '' }}"><a href="{{ url_for('home') }}">Home</a></li>
                {% if 'loggedin' in session %}
                    {% if session['user_type'] == 'admin' %}
                        <li class="{{ 'active' if request.endpoint == 'doctorRegister' else '' }}"><a href="{{ url_for('doctorRegister') }}">Register Doctor</a></li>
                        <li><a href="">Remove Doctor</a></li>
                        <li><a href="">Remove Patient</a></li>

                    {% elif session['user_type'] == 'doctor' %}
                        <li><a href="{{ url_for('profile') }}">My Profile</a></li>
                        <li><a href="">My Patients</a></li>
                        <li><a href="">Patients</a></li>
                        <li><a href="">Patient Requests</a></li>
                        
                    {% else %}
                        <li class="{{ 'active' if request.endpoint == 'profile' else '' }}"><a href="{{ url_for('profile') }}">My Profile</a></li>
                        <li class="{{ 'active' if request.endpoint == 'my_uploads' else '' }}"><a href="{{ url_for('my_uploads') }}">My Uploads</a></li>
                        <li><a href="">My Doctor</a></li>
                        <li><a href="">Doctor List</a></li>
                        
                    {% endif %}
                {% endif %}
            </div>
    
            <div class="nav-right">
                {% if 'loggedin' in session %}
                    <li><a href="#">{{ session.get('fullname') }}</a></li>
                    <li class="{{ 'active' if request.endpoint == 'logout' else '' }}"><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li class="{{ 'active' if request.endpoint == 'login' else '' }}"><a href="{{ url_for('login') }}">Login</a></li>
                    <li class="{{ 'active' if request.endpoint == 'register' else '' }}"><a href="{{ url_for('register') }}"><a href="{{ url_for('register') }}">Signup</a></li>
                {% endif %}
            </div>
        </ul>
    </nav>
    

    {% block content %}{% endblock %}

    <script type="text/javascript">
         // Close the alert after 5 seconds (5000 ms)
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 5000);
    </script>
</body>
</html>
