        
            <!-- <div class="nav-center">
              <li class="">
                <form method="get" action="">
                  <input type="text" name="search" placeholder="Search For Questions">
                  <input type="submit" value="Search">
                </form>
              </li>
            </div> -->
        

            <!-- <div class="user_details">
                <h1>My Profile</h1>
                <img src="{{ profile_image }}" alt="Profile Image" style="width: 150px; height: 150px;">
                <br>
                <br>
                
    
                <button onclick="toggleUpdateImageForm()">Update Profile Image</button>
                <div id="updateImageForm" style="display: none;">
                    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
                        <input type="file" name="profile_image" accept="image/*">
                        <input type="submit" value="Update Profile Image">
                    </form>
                </div>
    
                <p>Name: {{ account.firstname }} {{ account.lastname }}</p>
                <p>Email: {{ account.email }}</p>
            </div> -->






<!-- 

            {% extends "base.html" %}

{% block title %}My Uploads{% endblock %}

{% block content %}
<div class="container">
    <h1>Prediction History</h1>
    
    {% if predictions %}
        <ul class="">
            {% for prediction in predictions %}
            <li class="">
                Uploaded at: {{ prediction['uploaded_at'] }}<br>
                Image: <img src="{{ url_for('skin_uploaded_file', filename=prediction['image_path']) }}" alt="Prediction Image" style="width:100px;"><br>
                Prediction Details: {{ prediction['prediction_details'] }}
            </li>
            {% endfor %}
        </ul>

        
    {% else %}
        <p>No predictions have been made yet.</p>
    {% endif %}
</div>
{% endblock %} -->
